
.mat-toolbar.mat-primary {
    background: #343a40;
    color: #fff;
}

.mat-toolbar.mat-primary{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.24);
}
  
.content {
    overflow: auto;
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;    
}
  
.sidenav {
    padding: 20px;
    min-width: 200px;
    background-color: rgba(228, 228, 228, 0.35);
    color: rgba(0, 0, 0, 0.87);
}

.toolbar-icon {
    padding: 0 14px;
}

.menu-icon {
    margin-left: -15px;
}

.toolbar-spacer {
    flex: 1 1 auto;
}

.filler-content {
    padding: 60px;
}

.example-icon {
    padding: 0 14px;
}
  
.principal-spacer {
    flex: 1 1 auto;
}

.spacer-by-menu10 {
   width: 10px;
}

.spacer-by-menu20 {
    width: 20px;
 }



.navbar-principal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
/*
.logoMenarini	{ 
    width: 55px; 
    height: 50px; 
    background: url("") no-repeat scroll left top transparent; 
    display: inline-block; 
    vertical-align: top; 
    margin-top:5px; 
    float: left;  
}
 */
.logoMenarini a { 
    display:block; 
    width:100%; 
    height:100%; 
    cursor:pointer; 
}

.logoutEvent a {

    color: white;
    font-size: 15px;
    display:block; 
    cursor:pointer; 
}

input[type=submit] {
    border: 1px solid #343a40;
    color: #fff;
    background: #343a40;
    padding: 10px 20px;
    border-radius: 3px;
    cursor:pointer;
}
input[type=submit]:hover {
    background: #343a40;
    cursor:pointer;
}