  .card-izquierda {
    max-width: 80%;    
  }

  .card-derecha {
    max-width: 85%;       
  }
      
  .default-background {
    background-image: url('/assets/verde.png'); /* imagen de fondo Pokémon verde */
    align-items: center;
    justify-content: center;
  }

  
  .material-icons {
    margin-right: 8px;
    font-size: 24px;
  }
  
  .file-name {
    display: none; /* Oculta el nombre del archivo */
  }

  .colorAzul{
    color: royalblue;
    font-weight: bold  
  }

  
  
  .selectable-image {    
    cursor: pointer;    
    transition: transform 0.2s ease-in-out;
    width: calc(33.33% - 10px); /* Ancho del 33.33% con margen derecho */
    
    display: block; /* Elimina espacios en blanco */
    margin: 0 auto; /* Centra la imagen horizontalmente */
    //width: 100%;
    width: 300%;
  }
      
  
  .image-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Espacio uniforme entre las columnas */
  }
  
 
  
  /* Estilos para imágenes no seleccionadas */
  .selectable-image:not(.selected) {
    background-color: #F0F0F0; /* Fondo gris para las no seleccionadas */
  }
  
  /* Estilos para imágenes seleccionadas */
  .selectable-image.selected {
    background-color: #FFD700; /* Fondo amarillo para las seleccionadas */
  }
  
  .selectable-image:hover {
    transform: scale(1.1); /* Efecto de escala al pasar el mouse sobre la imagen */
  }

  .imagenTeam{
    width: 80%;

  }